<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Projects- Ileana Kueber</title>	
		<link rel="stylesheet" href="../static/main/css/header.css">
		<link rel="stylesheet" href="../static/main/css/navbar.css">
		<link rel="stylesheet" href="../static/main/css/main.css">
		<link rel="stylesheet" href="../static/main/css/footer.css">
		<meta name="viewport" content="width=device-width,initial-scale=1">
	</head>
	<body>
		<!-- Header contains header of webpage that is a photo -->
		<header>
			<div class="header-photo"></div>
		</header>
		<!-- Navigation bar has title and hyperlinks -->
		<nav>
			<input type="checkbox" id="menu-control"/>
			<div class="container">
				<a class="title">CSE 477 - Homework 1</a>
				<div class="links">
					<ul>
						<li><a href="home.html">Home</a></li>
						<li><a href="projects.html">Projects</a></li>
						<li><a href="../static/main/files/Resume-kueber.pdf">Resume</a></li>
					</ul>
				</div>
				<a href="https://www.linkedin.com/in/ileana-kueber/">
							<img src="../static/main/images/social-linkedin.png"
							alt= "Linked-in icon"
							id= "linkedin-img"
							loading="lazy"></a>
			<!-- menu icon -->
			<label id="menu" for="menu-control">
				<img src="../static/main/images/menu-bar.png" 
					alt="Menu icon" 
					loading="lazy">
			</label>
			</div>
			<!-- menu avaliable when screen is less than 650 px-->
			<div class="menu-mobile">
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="projects.html">Projects</a></li>
					<li><a href="../static/main/files/Resume-kueber.pdf">Resume</a></li>
					<li><a href="https://www.linkedin.com/in/ileana-kueber/">LinkedIn</a></li>
				</ul>	
			</div>
		</nav>
		<!-- Main contians images and descriptions of projects -->
		<main>
			<div class="container">
				<div class="short-desc">
					<p><strong>Below is a list of projects I worked on in CSE477:</strong></p>
					<p>Click an image, or hyperlink in the description, to learn more.</p>
					<hr></hr>
				</div>
				<div class="desc-container">
					<a href="piano.html">
						<img src="../static/main/images/piano.jpeg" 
							alt="Black grand piano" 
							loading="lazy">
					</a>
					<div class="proj-description">
						<p><a class="name"><strong>Javascript Piano</strong></a></p><p>As part of my first Homework assignment in CSE 477, I developed an interactive piano build in pure HTML, CSS and Javascript. This tool (in addition to my webpage) highlight my ability to build beautiful and mobile-friendly front-end applications.</p>
						<a href="piano.html"><p>Click here to see and play!</p></a>
					</div>
				</div>
				<div class="short-desc">
					<hr></hr>
					<p><strong>More coming soon!</strong></p>
				</div>
			</div>
		</main>
		<!-- footer is the box at the bottom of the screen that contains copyright information-->
		<footer>
			<div class="box">
				<p>© 2023 Ileana I. Kueber</p>
			</div>
		</footer>
	</body>
</html>